<ul>
  {{#each collection}}
    <li>Title: {{title}} </li>
    <li>Body: {{body}} </li>
    <li>Author: {{author}} </li>
    <li>ID: {{id}}</li>
    <a href="/articles/{{urltitle}}">More Info</a>
    <a href="/articles/{{urltitle}}/edit">Edit</a>
  <br>
  {{/each}}
</ul>
