<h1>Product Info</h1>
<br>
<li>Name: {{item.name}}</li>
<li>Price: {{item.price}}</li>
<li>Inventory: {{item.inventory}}</li>
<li>ID: {{item.id}}</li>

<a href="/products">Back</a>
<a href="/products/{{item.id}}/edit">Edit</a>